body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aeb6bf ;
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-top: 20px;
}

.input-section {
    margin: 20px;
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:#808b96  ;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8c471 ;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
